cazy_data_20250707.txt.gz
data/
test.*
*.conservedCAZymes.*
out/
chunks/
fetch.log
*.fasta.gz
*.acc.nr
cazy_proteins_dbcan.tsv.gz
dbcan_family_vs_cazy_families.tsv
dbcan_vs_cazy_families.tsv
dbcan_vs_cazy_families_perseq.tsv
Sugarcane.dbCAN.summary.txt
